body {
    font-family: "roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #011827;
    width: 480px;
    height: 144px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.header img {
    width: 128px;
    height: 82px;
    top: 26px;
    left: 27px;
    radius: 17px;

}

.header h1 {
    color: white;
    width: 78px;
    left: 168px;
    font-size: 20px;
    font-family: "roboto";
    margin: 20px 10px;
}