.contactHeader {
    margin: 40px 0 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.contactForm {
    width: 532px;
    display: flex;
    flex-direction: column;
    gap: 11px;
    justify-self: center;
}

.contactFormTextField, .contactFormEmailField, .contactFormMessageArea {
    border: 1px solid #011827;
    border-radius: 4px;
    padding: 10px;
    font-size: 26px;
}

.contactFormTextField, .contactFormEmailField {
    height: 42px;
}

.contactFormMessageArea {
    resize: none;
}

.contactFormSubmitBtn {
    background-color: #8ACFE5;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 20px;
    height: 66px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;
}