footer {
    background-color: #011827;
    padding: 30px;
    color: white;

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
        font-weight: normal;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
}