header {
    background-color: #011827;
    width: 100%;
    height: 144px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    img {
        width: 128px;
        height: 82px;
    }

    h1 {
        color: white;
        width: 78px;
        font-size: 20px;
        font-weight: 700px;
        margin: 20px;
    }
}