header {
    background-color: #011827;
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: flex-start;

    .logo {
        display: flex;
        align-items: center;

    }

    img {
        width: 128px;
        height: 82px;
    }

    h1 {
        color: white;
        width: 78px;
        font-size: 20px;
        font-weight: 700;
        margin-left: 10px;
    }

    .menuIcon {
        display: flex;
        cursor: pointer;
        padding-top: 15px;

        .bars {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }

        .bar1,
        .bar2,
        .bar3 {
            width: 45px;
            height: 5px;
            background-color: white;
            border-radius: 5px;
        }
    }
}

nav.desktopLinks {
    display: none;

    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    li a {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 20px;

        &:hover {
            color: #8ACFE5;
        }
    }

}

@media (min-width: 768px) {
    header {
        height: 216px;
        align-items: flex-start;
        padding: 26px 40px;
        flex-direction: column;
        justify-content: space-between;


        img {
            width: 128px;
            height: 82px;
            align-self: flex-start;
        }

        h1 {
            font-size: 40px;
            width: 404px;
            margin-top: 35px;

        }

        .menuIcon {
        display: none;
        }
    }

    nav.desktopLinks {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    ul {
        display: flex;
        gap: 100px;
        margin: 0;
        padding: 0;
    }
}