header {
    background-color: #011827;
    width: 100%;
    height: 144px;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: space-between;

    .logo {
        display: flex;
        align-items: center;
        margin-top: 20px;
    }

    img {
        width: 128px;
        height: 82px;
    }

    h1 {
        color: white;
        width: 78px;
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
    }
}

nav.desktopLinks {
    display: none;

    ul {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
    }

    li a {
        color: white;
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;

        &:hover {
            color: #8ACFE5;
        }
    }

}

@media (min-width: 768px) {
    header {
        height: 216px;
        align-items: flex-start;
        padding: 26px 40px;
        flex-direction: column;
        justify-content: space-between;


        img {
            width: 128px;
            height: 82px;
            align-self: flex-start;
        }

        h1 {
            font-size: 40px;
            width: 404px;
            margin-top: 35px;

        }
    }

    nav.desktopLinks {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    ul {
        display: flex;
        gap: 100px;
        margin: 0;
        padding: 0;
    }
}