.panel {
    display: flex;
    justify-content: center;

    h1 {
        font-size: 32px;
        font-weight: 570;
        margin-top: 60px;
    }
}

.card {
    width: 363px;
    margin: 50px auto;
    flex: 0 0 320px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease;


    .card:hover {
        transform: translateY(-5px);
    }

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
}

.cardContent {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    h3 {
        margin: 0;
        font-size: 18px;
        color: #222;
    }

    p {
        font-size: 14px;
        color: #555;
        margin-bottom: 15px;
        line-height: 1.4;
    }

    button {
        background-color: #e63946;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        align-self: flex-end;
        width: auto;
    }


    button:hover {
        background-color: #c92032;
    }
}


.rating {
    margin: 8px 0;
    font-size: 14px;
    color: #e63946;
}

.participants {
    color: #777;
    margin-left: 8px;
}

.cardContainer {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    padding: 20px;
    

}

.cardFlex {
    flex: 0 0 calc(45vw - 181.5px); 
}