.promos {
    img {
        width: 100%;
        height: auto;
        display: flex;
    
}
h3 {
    font-size: 32px;
    text-align: center;
}

p {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

button {
    background-color: #E3170A;
        color: white;
        border: none;
        padding: 20px 50px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        align-self: flex-end;
        width: auto;
        font-size: 24px;
        margin: 20px 20px 50px;
}
}