.story {
    background-color: #011827;
    height: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        color: white;
        text-align: center;
        font-weight: normal;
        font-size: 28px;
    }

    button {
        background-color: transparent;
        color: #8ACFE5;
        border: 1px solid #8ACFE5;
        border-radius: 3px;
        padding: 10px 30px;
        font-weight: bold;
    }
}