.top img {
    display: flex;
    width: 100%;
    height: 274px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;

    

    .btn1 {
        background-color: #8ACFE5;
        font-family: "Roboto";
        font-weight: bold;
        font-size: 20px;
        width: 308px;
        height: 66px;
        margin: auto;
        margin-top: 30px;
        border: none;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        color: #000;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn2 {
        background-color: transparent;
        font-family: "Roboto";
        font-weight: bold;
        color: #36769D;
        text-decoration: underline;
        font-size: 16px;
        height: 20px;
        margin: auto;
        margin-top: 30px;
        border: none;
        border-radius: 5px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}